.toolsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;

    @include for-phone-only {
        flex-direction: column;
        gap: 0.5em;
    }
}

.tools {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.tool {
    max-height: 70px;

    div {
        max-height: 70px;
    }
}

.actionButtons {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
}

.imageGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;

    @include for-phone-only {
        grid-template-columns: repeat(1, 1fr);
    }
}
