.container {
  @include content-width;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: calc($footer-height);

  @include for-desktop-up {
    bottom: calc($footer-height + 50px);
  }
}

.header {
  color: $gold-heading;
  font-size: toRem(48);
  line-height: toRem(48);
  font-weight: bold;
}

.image {
  @include for-phone-only {
    width: 200px;
  }
}

.sub {
  font-size: toRem(22);
  line-height: toRem(22);
  color: $gold-heading;
  font-style: italic;
}

.linkRow {
  display: flex;
  flex-direction: row;
  width: 100%;

  & > * {
    width: auto;
    margin-right: $gap;
    border-right: 2px solid $gold-outline;
    @include for-phone-only {
      border-right: none;
    }

    &,
    & > a {
      font-size: toRem(22);
      line-height: toRem(22);
      color: $blue;
      font-weight: bold;
      text-align: center;
    }

    &:last-child {
      border-right: 0;
    }

    @include for-desktop-up {
      width: 25%;
      margin-right: 0;
    }
  }

  @include for-phone-only {
    display: block;
  }
}
