@import "./typography";

// Colors
$gold: #fbeec1;
$gold-emphasis: #daad86;
$gold-outline: #bc986a;
$gold-heading: #8d8741;
$gold-heading-dark: #5f5b2a;

$gray: #666;
$blue: #659dbd;
$white: #fff;

$grad-color-1: #f7accf;
$grad-color-2: #e8f0ff;
$grad-color-3: #6874e8;
$grad-color-4: #7a5c61;

// Font
@mixin standard-font {
  font-family: Open Sans, Arial, sans-serif;
}

@mixin hero-font {
  font-family: 'Sequal Sans', Arial, sans-serif;
  letter-spacing: 0.1em;
  font-weight: 900;
}

@mixin header-font {
  font-family: 'Sequal Sans', Arial, sans-serif;
  font-weight: 700;
}

// Viewport
$viewport-sm-width: 600px;
$viewport-md-width: 800px;
$viewport-lg-width: 1200px;
$viewport-xl-width: 1800px;

$viewport-sm-max: $viewport-sm-width - 1px;

//Z Index
$zi-behind-content: 0;
$zi-standard-content: 10;
$zi-overlay-content: 15;
$zi-header: 15;

// Spacing
$gap: 20px;
$spacing-xxs: 5px;
$spacing-xs: 8px;
$spacing-sm: 10px;
$spacing-md: 35px;
$spacing-lg: 50px;
$page-header: 125px;

$max-content-width: 70%;
$standard-width: 70%;
@mixin content-width {
  max-width: $max-content-width;
  width: $standard-width;
}

// Heights
$header-height: 0px;
$footer-height: 60px;

// Media Queries
@mixin for-phone-only {
  @media only screen and (max-width: $viewport-md-width) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media only screen and (min-width: $viewport-sm-width) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media only screen and (min-width: $viewport-md-width) {
    @content;
  }
}

@mixin for-desktop-up {
  @media only screen and (min-width: $viewport-lg-width) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media only screen and (min-width: $viewport-xl-width) {
    @content;
  }
}

@function toRem($value) {
  $remValue: calc($value / 16) + rem;
  @return $remValue;
}
