.container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 1em;
  @include for-phone-only {
    display: block;
  }
}

.column {
  & > * {
    margin-top: $gap;
  }

  & > *:first-child {
    margin-top: 0;
  }

  @include for-phone-only {
    width: 100%;
  }
}
