.backgroundImage {
  display: inline-block;
  position: absolute;
  width: 150%;
  height: 100%;
  z-index: $zi-behind-content;
  overflow: hidden;

  & > * {
    top: 0;

    @include for-tablet-landscape-up {
      top: -150px;
    }
  }
}
