.container {
  width: 100%;
}

.image {
  @include image-overlay($blue, $gold);
  border: 3px solid $gold-outline;
  margin-bottom: $gap;
  width: 90%;
  box-shadow: 6px 6px 18px 0 rgba(0, 0, 0, 0.3);
}

.title {
  @include standard-h2;
  text-decoration: underline;
  text-align: center;
  margin: 0;
  transition: all 0.2s ease;

  & > a {
    color: $gold-heading;
    text-decoration: none;
  }

  &:hover {
    opacity: 0.8;
  }
}

.description {
  text-align: center;
}

.link {
  text-align: center;
  color: $blue;
  text-decoration: none;
  transition: all 0.2s ease;

  &:hover {
    opacity: 0.8;
  }
}
