.container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;

  .content {
    @include content-width;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    position: absolute;
    top: 10vh;
    left: 15vw;
    z-index: $zi-standard-content;

    .header {
      @include page-header;
      margin-bottom: calc($gap / 2);
      text-shadow: 0em 0.1em 0.1em rgba(0, 0, 0, 0.4);
    }

    .subheader {
      @include page-subheader;
      margin-top: 0;
      margin-bottom: $gap;
    }

    a {
      margin-bottom: 50px;
    }
  }

  .gradient {
    width:100%;
    height:100%;
    --gradient-color-1: #f7accf; 
    --gradient-color-2: #e8f0ff;
    --gradient-color-3: #6874e8;
    --gradient-color-4: #789eb4;
  }
}
